/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  color : black; 
  line-height: 32px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
background-color: black;
padding: 50px;


}

#left {
  background-color: brown;
  float: left;
  width: 33.3%;
}

#middle {
  background-color: blue;
  float: left;
  width: 33.3%;

}

#right {
  background-color: brown;
  width: 33.3%;
  float: left;
  
}

#full {
  background-color: burlywood;
  clear:both;
  width: 100%;
  overflow: auto;
 
}

#division {
  background-color: cadetblue;
}

aside {
  background-color: chartreuse;
  float:left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid #eee;
}

footer {
  
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkgray;
}
